$accent_border: #ff6c6091;
$fg_color: #f8f8f2;
$tetBlue: rgb(29, 155, 240);
$tetBlueH: rgb(26, 145, 218);
$tetBlueB: rgb(29, 161, 242) 0px 0px 0px 1px;
$tetYellow: rgb(255, 212, 0);
$tetYellowH: rgb(230, 156, 28);
$tetYellowB: rgb(255, 173, 31) 0px 0px 0px 1px;
$tetRed: rgb(249, 24, 128);
$tetRedH: rgb(202, 32, 85);
$tetRedB: rgb(224, 36, 94) 0px 0px 0px 1px;
$tetPurple: rgb(120, 86, 255);
$tetPurpleH: rgb(134, 93, 202);
$tetPurpleB: rgb(121, 75, 196) 0px 0px 0px 1px;
$tetOrange: rgb(255, 122, 0);
$tetOrangeH: rgb(220, 84, 31);
$tetOrangeB: rgb(244, 93, 34) 0px 0px 0px 1px;
$tetGreen: rgb(0, 186, 124);
$tetGreenH: rgb(21, 172, 89);
$tetGreenB: rgb(23, 191, 99) 0px 0px 0px 1px;
$twBlack: rgb(0, 0, 0);
$twWhite: #fff;
$twGray: #6e767d;
$fg_dark: #FF6C60;
$bg_panel: #161616;
$bg_color: #0F0F0F;
$td_color: #8899a6;
$tdBlue: rgb(29, 161, 242);
$td_b: #005fd1;
$td_blue: #1da1f2;
$td_blueB: #1da1f2 0px 0px 0px 1px;
$grey: #888889;
$accent_light: #FFACA0;
$accent_lightB: #FFACA0 0px 0px 0px 1px;

#tetReset,
#tetMenuButton > span {
  color: $twWhite !important;
};

#tetSelector > select {
  background-color: transparent;
  border: transparent;
  &:focus {
    box-shadow: none !important;
  }
};

.tet-at span {
  color: #6e767d;
};
.navbackground {
  &.d1tet {
    background-color:rgba(91, 112, 131, 0.4);
  };
  &.d2tet {
    background-color:rgba(0, 0, 0, 0.4);
  };
  &.d3tet {
    background-color:rgba(91, 112, 131, 0.4);
  };
};

.r-demo,
.tet-help-container,
#apifield,
#tetSelector {
  border-color: transparent;
  &.r-14lw9ot {
    border-color: rgb(83, 100, 113);
  };
  &.r-yfoy6g {
    border-color: rgb(56, 68, 77);
  };
  &.nitter,
  &.r-tetTD,
  &.r-kemksi {
    border-color: #2f3336;
  };
};

.r-14lw9ot > div#tetName span {
  color: rgb(83, 100, 113);
}

.r-kemksi > div#tetName span,
.r-yfoy6g > div#tetName span {
  color: #6e767d;
};

.tetBtn.nitter {
  border: transparent;
};

.Button--primary {
  border-color: $td_blue;
  box-shadow: $td_blueB;
}

.r-tetTD {
  border-radius: 14px;
  background-color: #15202b;
  #tetName span {
    color: $td_color;
  }
};
.prf-header > div > .tet.tet-td {
  color: #fff !important;
}
.tet-td {
  color: $td_color;
  &#tetName {
    color: $td_blue !important;
    span {
      color: inherit !important;
    };
  };
};
.tet-border-black {
  border-color: $twBlack;
};
/* gray */
.r-9ilb82 {
  color: rgb(110, 118, 125);
}
.r-1kqtdi0 {
  border-color: #2f3336;
}
/* blue */
.r-urgr8i {
  background-color: $tetBlue;
}
.r-p1n3y5 {
  border-color: $tetBlue !important;
}
.r-1q3imqu {
  background-color: $tetBlueH;
}
.r-1bih22f {
  box-shadow: $tetBlueB;
}

.r-13gxpu9 {
  color: $tetBlue;
  &#tetName {
    color: $tetBlue !important;
    span {
      color: inherit !important;
    };
  };
};

/* yellow */
.r-1vkxrha {
  background-color: $tetYellow;
}

.r-v6khid {
  border-color: $tetYellow !important;
}

.r-61mi1v {
  color: $tetYellow;
  &#tetName {
    color: $tetYellow !important;
    span {
      color: inherit !important;
    };
  };
};

.r-1kplyi6 {
  background-color: $tetYellowH;
}

.r-cdj8wb {
  box-shadow: $tetYellowB;
}

/* red */
.r-1dgebii {
  background-color: $tetRed;
}

.r-1iofnty {
  border-color: $tetRed !important;
}

.r-daml9f {
  color: $tetRed;
  &#tetName {
    color: $tetRed !important;
    span {
      color: inherit !important;
    };
  };
};

.r-1ucxkr8 {
  background-color: $tetRedH;
}

.r-jd07pc {
  box-shadow: $tetRedB;
}

/* purple */
.r-168457u {
  background-color: $tetPurple;
}

.r-njt2r9 {
  background-color: $tetPurpleH;
}

.r-hy56xe {
  border-color: $tetPurple !important;
}

.r-11mmphe {
  box-shadow: $tetPurpleB;
}

.r-xfsgu1 {
  color: $tetPurple;
  &#tetName {
    color: $tetPurple !important;
    span {
      color: inherit !important;
    };
  };
};

/* orange */
.r-18z3xeu {
  background-color: $tetOrange;
}

.r-1kplyi6 {
  background-color: $tetOrangeH;
}

.r-1xl5njo {
  border-color: $tetOrange !important;
}

.r-b8m25f {
  box-shadow: $tetOrangeB;
}

.r-1qkqhnw {
  color: $tetOrange;
  &#tetName {
    color: $tetOrange !important;
    span {
      color: inherit !important;
    };
  };
};

/* green */
.r-b5skir {
  background-color: $tetGreen;
}

.r-zx61xx {
  background-color: $tetGreenH;
}

.r-5ctkeg {
  border-color: $tetGreen !important;
}

.r-1cqwhho {
  box-shadow: $tetGreenB;
}

.r-nw8l94 {
  color: $tetGreen;
  &#tetName {
    color: $tetGreen !important;
    span {
      color: inherit !important;
    };
  };
};

.r-yfoy6g {
  background-color: rgb(21, 32, 43);
};
/* white */
.r-14lw9ot {
  background-color: $twWhite;
};

.r-kemksi {
  background-color: $twBlack;
};
/* black */
.r-18jsvk2 {
  color: rgb(15, 20, 25) !important;
};

.tweetdeck {
  background-color: #1da1f2;
  color: #fff;
  &#tetName {
    color: #1da1f2;
    span {
      color: inherit !important;
    };
  };
};

.r-demo {
  border-style: solid !important;
  border-radius: 16px !important;
  border-width: 1px !important;
};
.r-jwli3a {
  color: $twWhite !important;
};

.tetNitterHover {
  background-color: $fg_dark;
};
.tetNitter {
  border-color: $accent_light !important;
  box-shadow: $accent_lightB !important;
};
.tet-icon-info.nitter,
.tetBtn.nitter {
  color: $twWhite;
  background-color: $fg_dark;
};
h1.tetNTextColor {
  color: $grey;
};
.nitter {
  border-color: $fg_dark;
  background-color: $bg_color;
  div#tetName span {
    color: $fg_dark;
  };
};
input.tetNTextColor,
select.tetNTextColor,
div.tetNTextColor,
svg.tetNTextColor,
label.tetNTextColor>span {
  color: $fg_color;
};
.tetNText,
.tetNText span {
  color: $fg_dark !important;
};
.tetNBackground {
  background-color: $bg_panel;
};
