$bg_hover: #1a1a1a;
$bg_elements: #121212;
$accent_border: #ff6c6091;
$fg_color: #f8f8f2;
$tetBlue: rgb(29, 155, 240);
$tetBlueH: rgb(26, 145, 218);
$tetBlueB: rgb(29, 161, 242) 0px 0px 0px 1px;
$tetYellow: rgb(255, 212, 0);
$tetYellowH: rgb(230, 156, 28);
$tetYellowB: rgb(255, 173, 31) 0px 0px 0px 1px;
$tetRed: rgb(249, 24, 128);
$tetRedH: rgb(202, 32, 85);
$tetRedB: rgb(224, 36, 94) 0px 0px 0px 1px;
$tetPurple: rgb(120, 86, 255);
$tetPurpleH: rgb(134, 93, 202);
$tetPurpleB: rgb(121, 75, 196) 0px 0px 0px 1px;
$tetOrange: rgb(255, 122, 0);
$tetOrangeH: rgb(220, 84, 31);
$tetOrangeB: rgb(244, 93, 34) 0px 0px 0px 1px;
$tetGreen: rgb(0, 186, 124);
$tetGreenH: rgb(21, 172, 89);
$tetGreenB: rgb(23, 191, 99) 0px 0px 0px 1px;
$twBlack: rgb(0, 0, 0);
$twWhite: rgb(255, 255, 255);
$twGray: #6e767d;
$fg_dark: #FF6C60;
$fg_darkB: #FF6C60 0px 0px 0px 1px;
$bg_panel: #161616;
$bg_color: #0F0F0F;
$td_color: #8899a6;
$tdBlue: rgb(29, 161, 242);
$td_b: #005fd1;
$td_blue: #1da1f2;
$td_blueB: #1da1f2 0px 0px 0px 1px;
$bg_elements: #121212;
// $bg_overlays: #1F1F1F;
// $bg_hover: #1A1A1A;
$grey: #888889;
// $dark_grey: #404040;
//$darker_grey: #282828;
//$darkest_grey: #222222;
$border_grey: #3E3E35;
// $accent: #FF6C60;
$accent_light: #FFACA0;
$accent_lightB: #FFACA0 0px 0px 0px 1px;
// $accent_dark: #8A3731;
$accent_border: #FF6C6091;
// $play_button: #D8574D;
// $play_button_hover: #FF6C60;
// $more_replies_dots: #AD433B;
// $error_red: #420A05;
// $verified_blue: #1DA1F2;
// $icon_text: #F8F8F2;
// $tab: #F8F8F2;
// $tab_selected: #FF6C60;
// $profile_stat: #F8F8F2;

#tetMenuButton {
  > span {
    color: $twWhite !important;
  };
}

#tetSelector > select {
  background-color: transparent;
  border: transparent;
  &:focus {
    box-shadow: none !important;
  }
}

.r-kemksi > div#tetName,
.r-yfoy6g > div#tetName {
  color: #6e767d;
}

.tetNitterHover {
  background-color: $fg_dark;
};

.tetNitter {
  border-color: $accent_light;
  box-shadow: $accent_lightB;
}

.tetBtn.nitter {
  color: $twWhite;
  border: transparent;
  background-color: $fg_dark;
}

h1.tetNTextColor {
  color: $grey;
};

.nitter {
  border: 1px solid $fg_dark;
  background-color: $bg_color;
  #tetName {
    color: $fg_dark;
  }
}

input.tetNTextColor,
select.tetNTextColor,
div.tetNTextColor {
  color: $fg_color;
};

svg.tetNTextColor {
  color: $grey;
};

.tetNText {
  color: $fg_dark !important;
};

.tetNBackground {
  background-color: $bg_panel;
};

.Button--primary {
  border-color: $td_blue;
  box-shadow: $td_blueB;
}

.r-tetTD {
  border-radius: 14px;
  background-color: #15202b;
  #tetName {
    color: $td_color;
  }
};
.prf-header > div > .tet.tet-td {
  color: #fff !important;
}
.tet-td {
  color: $td_blue;
  &#tetName {
    color: $td_blue !important;
  }
  &.tet {
    color: $td_color;
  }
};
.r-hoverTD {
  background-color: $td_b;
}

/* gray */
.r-9ilb82 {
  color: rgb(110, 118, 125);
}
.r-1kqtdi0 {
  border-color: rgb(47, 51, 54);
}

#apifield {
  border-color: rgb(47, 51, 54);
}

#tetSelector {
  &.r-1kqtdi0 {
    border-color: rgb(47, 51, 54);
    &#tetName {
      color: rgb(110, 118, 125) !important;
    }
    &.r-tetTD {
      border-color: $td_color;
    }
  }
}

/* blue */
.r-urgr8i {
  background-color: $tetBlue;
}
.r-p1n3y5 {
  border-color: $tetBlue;
}
.r-1q3imqu {
  background-color: $tetBlueH;
}
.r-1bih22f {
  box-shadow: $tetBlueB;
}
.tetBtn.tweetdeck {
  color: $tdBlue;
  &#tetName {
    color: $tdBlue !important;
  }
}
.r-13gxpu9 {
  color: $tetBlue;
  &#tetName {
    color: $tetBlue !important;
  }
}

/* yellow */
.r-1vkxrha {
  background-color: $tetYellow;
}

.r-v6khid {
  border-color: $tetYellow;
}

.r-61mi1v {
  color: $tetYellow;
  &#tetName {
    color: $tetYellow !important;
  }
}

.r-1kplyi6 {
  background-color: $tetYellowH;
}

.r-cdj8wb {
  box-shadow: $tetYellowB;
}

/* red */
.r-1dgebii {
  background-color: $tetRed;
}

.r-1iofnty {
  border-color: $tetRed;
}

.r-daml9f {
  color: $tetRed;
  &#tetName {
    color: $tetRed !important;
  }
}

.r-1ucxkr8 {
  background-color: $tetRedH;
}

.r-jd07pc {
  box-shadow: $tetRedB;
}

/* purple */
.r-168457u {
  background-color: $tetPurple;
}

.r-njt2r9 {
  background-color: $tetPurpleH;
}

.r-hy56xe {
  border-color: $tetPurple;
}

.r-11mmphe {
  box-shadow: $tetPurpleB;
}

.r-xfsgu1 {
  color: $tetPurple;
  &#tetName {
    color: $tetPurple !important;
  }
}

/* orange */
.r-18z3xeu {
  background-color: $tetOrange;
}

.r-1kplyi6 {
  background-color: $tetOrangeH;
}

.r-1xl5njo {
  border-color: $tetOrange;
}

.r-b8m25f {
  box-shadow: $tetOrangeB;
}

.r-1qkqhnw {
  color: $tetOrange;
  &#tetName {
    color: $tetOrange !important;
  }
}

/* green */
.r-b5skir {
  background-color: $tetGreen;
}

.r-zx61xx {
  background-color: $tetGreenH;
}

.r-5ctkeg {
  border-color: $tetGreen;
}

.r-1cqwhho {
  box-shadow: $tetGreenB;
}

.r-nw8l94 {
  color: $tetGreen;
  &#tetName {
    color: $tetGreen !important;
  }
}

.r-yfoy6g {
  background-color: rgb(21, 32, 43);
}

.r-14lw9ot {
  background-color: $twWhite;
}

.r-kemksi {
  background-color: $twBlack;
}
.r-18jsvk2 {
  color: rgb(15, 20, 25);
}

.r-demo {
  border-style: solid !important;
  border-radius: 16px !important;
  border-width: 1px !important;
}

.demo-TW {
  border-color: rgb(47, 51, 54) !important;
}

.demo-TD {
  border: 1px solid $td_color !important;
}

.demo-NT {
  border: 1px solid $accent_border !important;
}

/* #15202b */
/* border: 1px solid #000; */
/* 1px solid #ccd6dd; */

// html.dark {
//   .r-tetTD {
//     background-color: #15202b !important;
//     border-radius: 14px;
//   }
// }
.r-jwli3a {
  color: $twWhite;
}