$accent_border: #ff6c6091;
$fg_color: #f8f8f2;
$tetBlue: rgb(29, 155, 240);
$tetBlueH: rgb(26, 145, 218);
$tetYellow: rgb(255, 212, 0);
$tetYellowH: rgb(230, 156, 28);
$tetRed: rgb(249, 24, 128);
$tetRedH: rgb(202, 32, 85);
$tetPurple: rgb(120, 86, 255);
$tetPurpleH: rgb(134, 93, 202);
$tetOrange: rgb(255, 122, 0);
$tetOrangeH: rgb(220, 84, 31);
$tetGreen: rgb(0, 186, 124);
$tetGreenH: rgb(21, 172, 89);
$twBlack: rgb(0, 0, 0);
$twWhite: #fff;
$twGray: #6e767d;
$fg_dark: #FF6C60;
$bg_panel: #161616;
$bg_color: #0F0F0F;
$td_color: #8899a6;
$tdBlue: rgb(29, 161, 242);
$td_b: #005fd1;
$td_blue: #1da1f2;
$td_blueB: #1da1f2 0px 0px 0px 1px;
$grey: #888889;
$accent_light: #FFACA0;
$accent_lightB: #FFACA0 0px 0px 0px 1px;

// name, color, hightlight, b
// $tetColors:
//   "Blue" rgb(29, 155, 240) rgb(26, 145, 218) rgb(29, 161, 242),
//   "Green" rgb(0, 186, 124) rgb(21, 172, 89) rgb(23, 191, 99),
//   "Orange" rgb(255, 122, 0) rgb(220, 84, 31) rgb(244, 93, 34),
//   "Purple" rgb(120, 86, 255) rgb(134, 93, 202) rgb(121, 75, 196),
//   "Red" rgb(249, 24, 128) rgb(202, 32, 85) rgb(224, 36, 94),
//   "Yellow" rgb(255, 212, 0) rgb(230, 156, 28) rgb(255, 173, 31);
$tetBShadows:
  "r-1bih22f" "box-shadow" "rgb(29, 161, 242) 0px 0px 0px 1px",
  "r-1cqwhho" "box-shadow" "rgb(23, 191, 99) 0px 0px 0px 1px",
  "r-b8m25f" "box-shadow" "rgb(244, 93, 34) 0px 0px 0px 1px",
  "r-11mmphe" "box-shadow" "rgb(121, 75, 196) 0px 0px 0px 1px",
  "r-jd07pc" "box-shadow" "rgb(224, 36, 94) 0px 0px 0px 1px",
  "r-cdj8wb" "box-shadow" "rgb(255, 173, 31) 0px 0px 0px 1px",
  "tet-29u:not(.tetswitch)" "background-color" rgb(29, 155, 240),
  "tet-186u:not(.tetswitch)" "background-color" rgb(0, 186, 124),
  "tet-122u:not(.tetswitch)" "background-color" rgb(255, 122, 0),
  "tet-120u:not(.tetswitch)" "background-color" rgb(120, 86, 255),
  "tet-249u:not(.tetswitch)" "background-color" rgb(249, 24, 128),
  "tet-255u:not(.tetswitch)" "background-color" rgb(255, 212, 0);

  @each $name, $type, $color in $tetBShadows {
    .#{$name} {
      #{$type}: #{$color};
    }
  };
$tetColors:
  "tet-29u" rgb(29, 155, 240) rgb(26, 145, 218,.384),
  "tet-186u" rgb(0, 186, 124) rgb(21, 172, 89,.384),
  "tet-122u" rgb(255, 122, 0) rgb(220, 84, 31,.384),
  "tet-120u" rgb(120, 86, 255) rgb(134, 93, 202,.384),
  "tet-249u" rgb(249, 24, 128) rgb(202, 32, 85,.384),
  "tet-255u" rgb(255, 212, 0) rgb(230, 156, 28,.384),
  "nitter" rgb(255, 108, 96) rgb(255, 108, 96,.384),
  "tweetdeck" rgb(29, 161, 242) rgb(29, 161, 242,.384);

  @each $name, $color, $hightlight in $tetColors {
    .tetswitch.#{$name} > input:checked+label {
      background-color: $hightlight;
      &:before {
        background-color: $color;
      }
    }
  };

#tetReset,
#tetMenuButton > span {
  color: $twWhite !important;
};

#tetSelector > select {
  background-color: transparent;
  border: transparent;
  &:focus {
    box-shadow: none !important;
  }
};

.tet-at span {
  color: #6e767d;
};
.navbackground {
  &.d1tet {
    background-color:rgba(91, 112, 131, 0.4);
  };
  &.d2tet {
    background-color:rgba(0, 0, 0, 0.4);
  };
  &.d3tet {
    background-color:rgba(91, 112, 131, 0.4);
  };
};

.r-demo,
.tet-help-container,
#apifield,
#tetSelector {
  border-color: transparent;
  &.r-14lw9ot {
    border-color: rgb(83, 100, 113);
  };
  &.r-yfoy6g {
    border-color: rgb(56, 68, 77);
  };
  &.nitter,
  &.r-tetTD,
  &.r-kemksi {
    border-color: #2f3336;
  };
};

.r-14lw9ot > div#tetName span {
  color: rgb(83, 100, 113);
}

.r-kemksi > div#tetName span,
.r-yfoy6g > div#tetName span {
  color: #6e767d;
};

.tetBtn.nitter {
  border: transparent;
};

.Button--primary {
  border-color: $td_blue;
  box-shadow: $td_blueB;
}

.r-tetTD {
  border-radius: 14px;
  background-color: #15202b;
  &#tetSelector.Button--primary:hover {
    border-color: $td_blue;
    box-shadow: $td_blue 0px 0px 0px 1px;
    #tetName span {
      color: $td_blue;
    }
  };
  #tetName span {
    color: $td_color;
  };
};

.prf-header > div > .tet.tet-td {
  color: #fff !important;
}
.tet-td {
  color: $td_color;
  &#tetName {
    color: $td_blue !important;
    span {
      color: inherit !important;
    };
  };
};
.tet-border-black {
  border-color: $twBlack;
};
/* gray */
.r-9ilb82 {
  color: rgb(110, 118, 125);
}
.r-1kqtdi0 {
  border-color: #2f3336;
}
/* blue */
.r-p1n3y5 {
  border-color: $tetBlue !important;
}
.r-1q3imqu {
  background-color: $tetBlueH;
}
.r-13gxpu9 {
  color: $tetBlue;
  &#tetName {
    color: $tetBlue !important;
    span {
      color: inherit !important;
    };
  };
};

/* yellow */
.r-v6khid {
  border-color: $tetYellow !important;
}

.r-61mi1v {
  color: $tetYellow;
  &#tetName {
    color: $tetYellow !important;
    span {
      color: inherit !important;
    };
  };
};

.r-1kplyi6 {
  background-color: $tetYellowH;
}

/* red */
.r-1iofnty {
  border-color: $tetRed !important;
}

.r-daml9f {
  color: $tetRed;
  &#tetName {
    color: $tetRed !important;
    span {
      color: inherit !important;
    };
  };
};

.r-1ucxkr8 {
  background-color: $tetRedH;
}

/* purple */
.r-njt2r9 {
  background-color: $tetPurpleH;
}

.r-hy56xe {
  border-color: $tetPurple !important;
}

.r-xfsgu1 {
  color: $tetPurple;
  &#tetName {
    color: $tetPurple !important;
    span {
      color: inherit !important;
    };
  };
};

/* orange */
.tet-122hu {
  background-color: $tetOrangeH;
}

.r-1xl5njo {
  border-color: $tetOrange !important;
}
.r-1qkqhnw {
  color: $tetOrange;
  &#tetName {
    color: $tetOrange !important;
    span {
      color: inherit !important;
    };
  };
};

/* green */
.r-zx61xx {
  background-color: $tetGreenH;
}

.r-5ctkeg {
  border-color: $tetGreen !important;
}
.r-nw8l94 {
  color: $tetGreen;
  &#tetName {
    color: $tetGreen !important;
    span {
      color: inherit !important;
    };
  };
};
/* Twitter Dim */
.r-yfoy6g {
  background-color: rgb(21, 32, 43);
};
/* Twitter Default / White */
.r-14lw9ot {
  background-color: $twWhite;
};
/* Twitter Dark / Black */
.r-kemksi {
  background-color: $twBlack;
};
/* black */
.r-18jsvk2 {
  color: rgb(15, 20, 25) !important;
};

.tweetdeck:not(.tetswitch) {
  background-color: $td_blue;
  color: #fff;
  &#tetName {
    color: $td_blue;
    span {
      color: inherit !important;
    };
  };
};

.r-demo {
  border-style: solid !important;
  border-radius: 16px !important;
  border-width: 1px !important;
};
.r-jwli3a {
  color: $twWhite !important;
};

.tetNitterHover {
  background-color: $fg_dark;
};
.tetNitter {
  border-color: $accent_light !important;
  box-shadow: $accent_lightB !important;
};
.btNav:not(#tetNT) {
  .tet-icon-info.nitter,
  .tetBtn.nitter {
    color: $twWhite;
    background-color: $fg_dark;
  };
};
h1.tetNTextColor {
  color: $grey;
};
.nitter:not(.tetswitch,.tetBtn) {
  border-color: $fg_dark;
  background-color: $bg_color;
  div#tetName span {
    color: $fg_dark;
  };
};
input.tetNTextColor,
select.tetNTextColor,
div.tetNTextColor,
svg.tetNTextColor,
label.tetNTextColor>span {
  color: $fg_color;
};
.tetNText,
.tetNText span {
  color: $fg_dark !important;
};
.tetNBackground {
  background-color: $bg_panel;
};
#tetNI {
  color: rgb(255, 255, 255);
};
