@mixin prefix($property, $value, $prefixes) {
  @each $prefix in $prefixes {
    -#{$prefix}-#{$property}: $value;
  }
  #{$property}: $value;
}

//@include prefix(display, flex, ms moz webkit);

.prf-header > div > .tet {
  display: inline-block !important;
  width: 100% !important;
}

.css-1dbjc4n {
  -moz-box-align: stretch;
  -moz-box-direction: normal;
  -moz-box-orient: vertical;
  align-items: stretch;
  border: 0px solid black;
  box-sizing: border-box;
  display: flex;
  flex-basis: auto;
  flex-direction: column;
  flex-shrink: 0;
  margin: 0px;
  min-height: 0px;
  min-width: 0px;
  padding: 0px;
  position: relative;
  z-index: 0;
}

.r-b88u0q {
  font-weight: 700;
}

select {
  height: auto !important;
}
.r-qvutc0 {
  overflow-wrap: break-word;
}
.r-1adg3ll {
  display: block;
}
.r-u8s1d {
  position: absolute;
}
.r-1wbh5a2 {
  flex-shrink: 1;
}
.r-1ny4l3l {
  outline-style: none;
}
.r-1mi75qu {
  box-shadow: rgb(0 0 0 / 2%) 0px 0px 2px inset;
}
.r-1udh08x {
  overflow: hidden;
}
.r-1awozwy {
  -webkit-box-align: center;
  -moz-box-align: center;
  align-items: center;
}
.r-1hwvwag {
  flex-basis: 48px;
}
.r-18kxxzh {
  -webkit-box-flex: 0;
  flex-grow: 0;
}
.r-1777fci {
  -webkit-box-pack: center;
  -moz-box-pack: center;
  justify-content: center;
}
.r-18u37iz {
  -webkit-box-direction: normal;
  -webkit-box-orient: horizontal;
  -moz-box-direction: normal;
  -moz-box-orient: horizontal;
  flex-direction: row;
}
.r-ipm5af {
  top: 0px;
}
.r-1ifxtd0 {
  margin-bottom: 16px;
}
.r-6gpygo {
  margin-bottom: 12px !important;
}
.r-1jgb5lz {
  margin-left: auto;
  margin-right: auto;
}
.r-1ye8kvj {
  max-width: 600px;
}
.r-16y2uox {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  flex-grow: 1;
}
.r-ttdzmv {
  padding-top: 12px !important;
}
.r-1iusvr4 {
  flex-basis: 0px;
}
.r-13qz1uu {
  width: 100%;
}
.r-1dye5f7 {
  padding-left: 32px;
  padding-right: 32px;
}

.r-9ilb82 {
  color: rgb(110, 118, 125);
}
.r-16dba41 {
  font-weight: 400;
}
.r-1vr29t4 {
  font-weight: 800;
}
.r-a023e6 {
  font-size: 15px;
}
.r-1qd0xha {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif;
}
.r-rjixqe {
  line-height: 20px;
}
.r-1cwl3u0 {
  line-height: 16px;
}
.r-bcqeeo {
  min-width: 0px;
}