.btNav,
.txt-s0pan,
.txt-s1pan,
.tet-av,
.tetAlertBtns > div {
  align-items: center !important;
};

#tetName,
.r-demo,
#tetadvanced,
#tethelper,
.tetAlertTxt,
.tet-header {
  cursor: default;
}

.txt-s0pan {
  flex-shrink: 1;
  flex-direction: inherit !important;
  .txt-s1pan {
    max-width: inherit !important;
    flex-direction: inherit !important;
    white-space: normal !important;
    > div {
      white-space: inherit !important;
    }
  }
};

.txt-s0pan,
.tetAlertBtns,
.r-demo,
.tet-av,
.r-hover,
#apifield {
  outline-style: none !important;
}


.txt-s1pan > div,
.tet-dc,
.tet-at,
.tethelper-info,
.tethelper-header,
.tetAlertTxt,
.tet-info,
.tetAlertBtns>div,
#tetSelector > select {
  font-size: 15px !important;
}

.txt-s1pan > div,
h1.tetAlertTxt,
.tetAlertBtns > div,
.tethelper-header {
  font-weight: 700 !important;
}

.tet,
#tetDemo,
.tet-dc,
.tet-at,
.tethelper-info,
div.tetAlertTxt,
.tet-info,
.tet-icon-info,
#tweet-text,
#tetSelector > #tetName {
  font-weight: 400;
}

.tet,
#tetDemo,
.tetswitch > label,
#tetSelector > #tetName {
  line-height: 16px;
}

.tet-sp1an > div,
.tetAlertBtns > div > span,
#tetMenuButton > svg,
.txt-header,
.tetadvanced-icon,
.txt-s0pan,
.tet-at {
  max-width: 100%;
}

.tet-sp1an > div,
.tet-at {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.tet-dc,
.txt-s1pan > div,
.tet-header,
#tetSelector > #tetName,
#tetSelector > select  {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
}

.tet,
#tweet-text,
.tetAlertTxt span,
.tetAlertBtns > div,
.tet-main {
  font-family: "TwitterChirp", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
}

div.tetAlertTxt,
.tet-info,
.tet-dc,
.tet-at,
.tethelper-info,
.tetAlertBtns > div,
.txt-s1pan > div,
#tetSelector>select {
  line-height: 20px;
};

.tetAvatarFrame,
#tetAvatar,
.tet-main,
.tet-containter,
.tet-av,
div.tetAlertTxt {
  width: 100%;
};

.tetAvatarFrame,
#tetAvatar {
  align-items: stretch;
  border: 0px solid black;
  box-sizing: border-box;
  display: flex;
  flex-basis: auto;
  flex-direction: column;
  flex-shrink: 0;
  margin: 0px;
  min-height: 0px;
  min-width: 0px;
  padding: 0px;
  position: relative;
  z-index: 0;
}

#tetSelector {
  min-width: 0px;
  overflow-wrap: break-word;
  #tetName {
    min-width: 0px;
    position: absolute;
    overflow-wrap: break-word;
  }
}

.tet,
.tet-info,
#tweet-text {
  margin-top: 1% !important;
}

#tweet-text,
.tet-demoframe {
  position: relative;
}

.tet-header,
.tet-icon-container,
.tetadvanced-icon-container,
.tetAlertBtns > div,
.tetAlertTxt {
  text-align: center;
}

.tet-help-container a,
.tet-icon-container,
#tetDemo,
.tet {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.tet {
  flex-wrap: wrap;
  font-size: 13px;
  overflow-wrap: break-word;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  display: flex;
}

.tetAvatarFrame {
  padding-bottom: 100%;
  display: block;
  z-index: 0;
  position: absolute;
  top: 0px;
  right: 0px;
  left: 0px;
  bottom: 0px;
  #tetAvatar {
    background-image: url("//abs.twimg.com/favicons/twitter.ico");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    z-index: -1;
    background-color: rgba(0, 0, 0, 0);
    height: 100%;
    position: absolute;
  }
}

.tet-main {
  padding: 0px 32px 32px 32px !important;
  flex-shrink: 1;
  flex-grow: 1;
  margin-left: auto;
  margin-right: auto;
}

.tet-options {
  display: inline-grid;
  grid-template-rows: 1fr 1fr 1fr;
}

.tet-header {
  min-width: 0px;
  white-space: normal;
  display: grid;
  margin: 32px 0px 12px 0px !important;
  .tet-info-name {
    line-height: 28px;
    font-size: 23px;
    font-weight: 800;
  };
  .tet-info {
    color: #6e767d;
  };
}
.tetAlert {
  right: 0px;
  left: 0px;
  bottom: 0px;
  position: fixed !important;
  z-index: 10000 !important;
  h1.tetAlertTxt {
    line-height: 24px;
    font-size: 20px;
    min-width: 0px;
    span {
      font-family: inherit;
    };
  };
  .tetAlertTxt span {
    white-space: normal;
    overflow-wrap: break-word;
  };
  div.tetAlertTxt {
    min-width: 0px;
  };
  .tetConfirmation {
    width: 20%;
    border-radius: 16px;
    left: 40%;
    top: 40%;
    position: fixed;
  };
  .tetAlertBtns {
    margin: 2% 25% 2% 25%;
    white-space: nowrap;
    transition-property: background-color, box-shadow;
    transition-duration: 0.2s;
    flex-grow: 1;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    border-color: rgba(0, 0, 0, 0);
    overflow: hidden;
    border-width: 1px;
    border-style: solid;
    cursor: pointer;
    &:nth-child(2) {
      margin: 0px 25% 4% 25%;
    }
    > div {
      overflow-wrap: break-word;
      min-width: 0px;
      justify-content: center;
      flex-grow: 1;
      flex-direction: row;
      display: flex;
      > span {
        line-height: inherit !important;
        overflow-wrap: break-word;
        min-width: 0px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        border: 0px solid black;
        box-sizing: border-box;
        display: inline;
        margin: 0px;
        padding: 0px;
        > span {
          border: 0px solid black;
          box-sizing: border-box;
          display: inline;
          margin: 0px;
          padding: 0px;
        }
      }
    }
  }
};

#tetForm,
#tetadvanced,
#tethelper {
  border-radius: 16px;
  > div {
    border-radius: 16px;
    flex-grow: 1;
    flex-shrink: 1;
  };
  .tetBackground {
    .tetTextColor {
      overflow-wrap: break-word;
      span {
        overflow-wrap: break-word;
      }
    }
  };
};


#tetForm {
  max-width: 80vw;
  max-height: 90vh;
  min-width: 600px !important;
  flex-shrink: 1;
  overflow: hidden;
  .tet-containter {
    &.tet-fg {
      margin-left: auto;
      margin-right: auto;
    }
  }
};

#tetadvanced,
#tethelper {
  max-width: 90vw;
  max-height: 90vh;
  min-width: 500px;
  min-height: 100px;
  flex-shrink: 1;
  margin-left: 1%;
  margin-right: 1%;
};

.tet-container {
  overflow: auto !important;
};

.tethelper-header {
  white-space: nowrap;
  line-height: 23px !important;
  min-width: 0px;
};

.tetadvanced-container {
  section {
    &.tetcheckbox>label,
    &.tetselect {
      display: flex;
      justify-content: space-between;
      padding: .825em;
    }
    &.tetcheckbox>label {
      cursor: pointer;
    };
  };
  .tetswitch {
    position: relative;
    width: 38px;
    -webkit-user-select: none !important;
       -moz-user-select: none !important;
        -ms-user-select: none !important;
            user-select: none !important;
    margin: 5px;
    > input {
      display: none;
    }
    > label {
      display: block;
      overflow: hidden;
      cursor: pointer;
      height: 16px;
      padding: 0;
      border-radius: 20px;
      border: 1px solid #000;
      background-color: #464646;
      &:before {
        content: "";
        display: block;
        width: 20px;
        height: 20px;
        margin: -2px;
        background: #DADCE0;
        position: absolute;
        top: 0;
        right: 20px;
        border-radius: 20px;
      }
    }
    > input:checked+label {
      margin-left: 0;
      background-color: rgba(29, 160, 242, 0.384);
      &:before {
        right: 0px;
        background-color: $tetBlue;
      }
    }
  };
}

.tet-head,
.tet-dc > span,
.tet-demotext,
.tetTextColor span,
.tetConfirmation span,
#tetName span,
#tweet-text > span,
#tetMenuButton > span {
  color: inherit;
  font: inherit;
  font-family: inherit;
  white-space: inherit;
  overflow-wrap: break-word;
}
.rm,
option[disabled=""],
div:not(.mini)>#tetSVG,
div.mini>span {
  display: none !important;
  visibility: hidden !important;
}

.tetFreeze {
  overflow: hidden !important;
  -ms-scroll-chaining: none !important;
      overscroll-behavior: none !important;
};
#tetMenuButton {
  z-index: 10;
  width: 8vw;
  height: auto;
  position: fixed;
  top: 65%;
  left: 0px;
  &.tetTD {
    left: 90% !important;
    top: 0% !important;
  };
  > svg {
    position: relative;
    height: 1.25em;
    fill: currentcolor;
    margin-right: 12px;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    right: 35% !important;
  };
};
#tetMenuButton,
.tetAlertBtns,
#tetReload,
#tetReset {
  list-style: none;
  text-align: inherit;
  text-decoration: none;
  border-radius: 15px;
  justify-content: center;
  display: flex !important;
  font-family: inherit !important;
  font-size: 20px !important;
  font-weight: bold !important;
  padding: 0px !important;
  outline: none !important;
};
.tetBtn {
  &.mini {
    border: transparent !important;
    background: transparent !important;
  };
};
#tetMenuButton,
.tetAlertBtns,
#tetReload,
#tetReset,
#tet,
.tet {
  cursor: pointer !important;
}
.tet.tet-td {
  display: inherit;
}
#tet {
  justify-items: center;
}
#apifield {
  width: initial;
}
#apifield,
#tetName,
#tetSelector>select {
  padding-left: 2% !important
}
#apifield,
#tetSelector {
  border-radius: 4px;
  border-width: 1px;
}
#apifield,
.tet-options > #tetSelector {
  margin: 2% 6% 0px 6%;
}
#tetSelector>select {
  text-align: left;
  padding-top: 12px;
  padding-right: 0px;
  padding-bottom: 0px;
  cursor: pointer;
  border-radius: 0px;
  margin: 0px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}
#tetReload,
#tetReset {
  margin: 2% 25% 0px 25%;
}
.r-demo {
  margin: 0px 32px 0px 32px !important;
  padding: 12px 0px 12px 0px !important;
  overflow: hidden;
  flex-direction: row !important;
  flex-shrink: 1;
  flex-grow: 1;
  .tet-av {
    margin: 2px 12px 0px 12px !important;
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: 48px;
    height: 48px;
    overflow: hidden;
    display: block;
  }
  .tet-txt {
    flex-basis: 0px;
    flex-grow: 1;
    justify-content: center;
    .txt-header {
      margin-bottom: 2px;
      align-items: start;
      justify-content: space-between;
      flex-direction: row;
      .tet-at {
        display: flex;
        margin-left: 4px;
        overflow-wrap: break-word;
        min-width: 0px;
      }
    }
  }
}
#tetDemo {
  margin: 4px 0px 0px 0px;
  font-size: 13px;
  flex-wrap: wrap;
  min-width: 0px;
  display: flex !important;
}
.btNav {
  a,
  :link {
    text-decoration: none !important;
    &:hover {
      text-decoration: none !important;
    }
  };
  justify-content: center !important;
  flex-direction: row !important;
  top: 0px !important;
  span {
    font-family: inherit;
  };
}
.btNav,
.navbackground {
  position: fixed !important;
  width: 100vw;
  height: 100vh
}
.navbackground {
  top: 0;
  left: 0;
  &.warn {
    z-index: 10 !important;
  };
};
.tet-icon-container,
.tetadvanced-icon-container {
  cursor: pointer;
  display: inline-flex;
  position: absolute;
  bottom: 10px;
  border-radius: 9999px;
  z-index: 1;
}
.tet-icon-container {
  height: 35px;
  right: 25px;
  .tet-icon-info {
    color: $twWhite;
    display: inline;
    width: 35px;
    height: 35px;
    line-height: 35px;
    border-radius: inherit;
    font-family: "fontello";
    font-size: 23px;
    &:hover {
      color: unset !important;
    };
  }
  .tet-help-container {
    position: static;
    border-style: solid;
    border-width: 2px;
    border-radius: inherit;
    line-height: 35px;
    font-size: 16px;
    font-weight: normal;
    text-decoration: none;
    margin-left: 10px;
    a {
      display: inline-block;
      margin-left: 10px;
      margin-right: 10px;
    }
  }
};
.tetadvanced-icon-container {
  left: 10px;
  width: 28px;
  height: 28px;
  .tetadvanced-icon {
    height: 1.75rem;
    cursor: pointer;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    position: relative;
    fill: currentcolor;
    border-radius: inherit;
    display: inline-block;
  };
};
.mini {
  min-height: 3% !important;
  overflow: hidden;
  background: transparent;
  border-color: transparent;
}
.r-hover {
  -webkit-text-decoration-line: underline !important;
          text-decoration-line: underline !important;
}
#tweet-text {
  font-size: 23px !important;
  line-height: 28px !important;
}

.tet-help-info {
  color: unset;
}

div.css-18t94o4.r-6koalj.r-1w6e6rj.r-37j5jr.r-n6v787.r-16dba41.r-1cwl3u0.r-14gqq1x.r-bcqeeo.r-qvutc0 {
  width: -webkit-fit-content !important;
  width: -moz-fit-content !important;
  width: fit-content !important;
}
