#tetNT {
  .r-demo,
  .tet-help-container,
  #apifield,
  #tetSelector {
    border-color: var(--border_grey);
    &.nitter {
      border-color: var(--border_grey);
    };
  };
  .tetNitterHover {
    background-color: var(--fg_dark);
  };
  .tetNitter {
    &#tetSelector:hover {
      border-color: var(--accent_border) !important;
      box-shadow: var(--accent_border) !important;
      #tetName span {
        color: var(--fg_dark);
      }
    };
  };
  .tetBtn.nitter {
    color: var(--fg_color);
    background-color: var(--fg_dark);
  };
  h1.tetNTextColor {
    color: var(--grey);
  };
  .nitter:not(.tetswitch,.tetBtn) {
    background-color: var(--bg_color);
    div#tetName {
      color: var(--fg_dark);
    };
  };
  input.tetNTextColor,
  select.tetNTextColor,
  div.tetNTextColor,
  svg.tetNTextColor,
  label.tetNTextColor>span {
    color: var(--fg_color);
  };
  .tetNText,
  .tetNText span {
    color: var(--fg_dark) !important;
  };
  .tetNBackground {
    background-color: var(--bg_panel);
  };
};

.tweetdeck:not(.tetswitch) {
  background-color: var(--btd-accent-color);
};

.r-tetTD {
  background-color: var(--btd-theme-background) !important;
  &#tetSelector.Button--primary:hover {
    border-color: #1da1f2;
    box-shadow: #1da1f2 0px 0px 0px 1px;
    #tetName span {
      color: #1da1f2;
    }
  }
};

.r-tetBTD {
  background-color: var(--btd-theme-background) !important;
  #tetName span {
    color: var(--btd-accent-color);
  }
};
