@import 'colors';

.tet-flex,
.btNav,
#tetadvanced,
#tetadvanced > .tetBackground,
.tet-txt,
.r-demo,
.tet-main {
  position: relative;
  display: flex;
  align-items: stretch;
  box-sizing: border-box;
  flex-direction: column;
}

.btNav,
.txt-header,
.tet-av,
.tetAlertBtns > div {
  align-items: center !important;
}

#tetName,
.r-demo,
#tetadvanced,
.tetAlertTxt,
.tet-header {
  cursor: default;
}

.txt-header,
.tetAlertBtns,
.r-demo,
.tet-av,
.r-hover,
#apifield {
  outline-style: none !important;
}

.tet-dc,
.tet-at,
div.tetAlertTxt,
.tet-info,
.btNav label,
.tetAlertBtns > div,
#tetSelector > select {
  font-size: 15px !important;
}

.tet-at > span:first-child,
h1.tetAlertTxt,
.tetAlertBtns > div {
  font-weight: 700 !important;
}

.tet,
#tetDemo,
.tet-dc,
.tet-at,
.tethelper-info,
div.tetAlertTxt,
.tet-info,
.tet-icon-info,
#tweet-text,
#tetSelector > #tetName {
  font-weight: 400;
}

.tet,
#tetDemo,
.tetswitch > label,
#tetSelector > #tetName {
  line-height: 16px;
}

.tetAlertBtns > div > span,
#tetMenuButton > svg,
.txt-header,
.tetadvanced-icon,
.tet-at {
  max-width: 100%;
}

.tet-at {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.tet-dc,
.tet-at,
.tet-header,
#tetSelector > #tetName,
#tetSelector > select {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
}

.tet,
#tweet-text,
.tetAlertBtns > div,
.tet-main {
  font-family:
    'TwitterChirp',
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Helvetica,
    Arial,
    sans-serif;
}

div.tetAlertTxt,
.tet-info,
.tet-dc,
.tet-at,
.tethelper-info,
.tetAlertBtns > div,
#tetSelector > select {
  line-height: 20px;
}

.tetAvatarFrame,
#tetAvatar,
.tet-main,
.tet-containter,
.tet-av,
div.tetAlertTxt {
  width: 100%;
}

.tetAvatarFrame,
#tetAvatar {
  align-items: stretch;
  border: 0px solid black;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  margin: 0px;
  min-height: 0px;
  min-width: 0px;
  padding: 0px;
}

#tetSelector {
  min-width: 0px;
  overflow-wrap: break-word;

  #tetName {
    position: absolute;
    min-width: inherit;
    overflow-wrap: inherit;
  }
}

.tet,
.tet-info,
#tweet-text {
  margin-top: 1% !important;
}

#tweet-text,
.tet-demoframe {
  position: relative;
}

.tet-header,
.tet-icon-container,
.tetadvanced-icon-container,
.tetAlertBtns > div,
.tetAlertTxt {
  text-align: center;
}

.tet-help-container a,
.tet-icon-container,
#tetDemo,
.tet {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.tet {
  flex-wrap: wrap;
  font-size: 13px;
  overflow-wrap: break-word;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  display: flex;
  -webkit-user-select: none !important;
  -moz-user-select: none !important;
  -ms-user-select: none !important;
  user-select: none !important;
}

.tetAvatarFrame {
  padding-bottom: 100%;
  position: absolute;
  top: 0px;
  right: 0px;
  left: 0px;
  bottom: 0px;

  #tetAvatar {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    z-index: -1;
    height: 100%;
    position: absolute;
  }
}

.tet-main {
  padding: 0px 32px 32px 32px !important;
  display: grid;
  grid-template-rows: minmax(auto, 50%);
}

.tet-header {
  min-width: 0px;
  white-space: normal;
  display: grid;
  padding: 0px 32px 0px 32px;
  margin: 32px 0px 12px 0px;

  .tet-info-name {
    line-height: 28px;
    font-size: 23px;
    font-weight: 800;
  }
}

.tetConfirmation {
  padding: 8px 32px 16px 32px !important;
  border-radius: 16px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: fixed !important;
  z-index: 10000 !important;

  .tetAlertTxt {
    align-content: center;
    display: grid;
    margin: 0px !important;
  }

  h1.tetAlertTxt {
    line-height: 24px;
    font-size: 20px;
    min-width: 0px;
  }

  div.tetAlertTxt {
    min-width: 0px;
  }

  .tetAlertBtns {
    margin: 2% 0px 2% 0px;
    white-space: nowrap;
    transition-property: background-color, box-shadow;
    transition-duration: 0.2s;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border-color: rgba(0, 0, 0, 0);
    overflow: hidden;
    border-width: 1px;
    border-style: solid;

    span {
      line-height: inherit !important;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      border: 0px solid black;
      box-sizing: border-box;
      display: inline;
      margin: 0px;
      padding: 0px;

      > span {
        border: 0px solid black;
        box-sizing: border-box;
        display: inline;
        margin: 0px;
        padding: 0px;
      }
    }
  }
}

#tetadvanced {
  border-radius: 16px;

  > div {
    border-radius: 16px;
    flex-grow: 1;
    flex-shrink: 1;
  }
}

.btNav:not(.mobile) #tetForm {
  min-width: 600px !important;
}

#tetForm {
  border-radius: 16px;
  flex-shrink: 1;
  position: relative;
  overflow: hidden;

  .tet-containter {
    &.tet-fg {
      margin-left: auto;
      margin-right: auto;
    }
  }
}

#tetadvanced {
  max-width: 90vw;
  max-height: 90vh;
  min-width: 500px;
  min-height: 100px;
  flex-shrink: 1;
  margin-left: 1%;
  margin-right: 1%;
}

.tet-container {
  overflow: auto !important;
}

.tetadvanced-container {
  section {
    &.tetcheckbox > label,
    &.tetselect {
      display: flex;
      justify-content: space-between;
      padding: 0.5em;
    }

    &.tetcheckbox > label {
      cursor: pointer;
    }
  }

  .tetswitch {
    position: relative;
    width: 38px;
    border-radius: 20px;
    -webkit-user-select: none !important;
    -moz-user-select: none !important;
    -ms-user-select: none !important;
    user-select: none !important;
    margin: 5px;

    > input {
      display: none;
    }

    > label {
      display: block;
      overflow: hidden;
      cursor: pointer;
      height: 16px;
      padding: 0;
      border-radius: 20px;
      border: 1px solid $twBlack;
      background-color: #464646;

      &:before {
        content: '';
        display: block;
        width: 20px;
        height: 20px;
        margin: -2px;
        background: #dadce0;
        position: absolute;
        top: 0;
        right: 20px;
        border-radius: 20px;
      }
    }

    > input:checked + label {
      margin-left: 0;

      &:before {
        right: 0px;
      }
    }
  }
}

.btNav span,
#tweet-text span,
#tetMenuButton span {
  color: inherit;
  font: inherit;
  font-family:
    'TwitterChirp',
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Helvetica,
    Arial,
    sans-serif !important;
  white-space: inherit;
  overflow-wrap: break-word;
}

.rm,
#tetMenuButton.mobile,
option[disabled=''],
div:not(.mini) > #tetSVG,
div.mini > span {
  display: none !important;
  visibility: hidden !important;
}
.tetFreeze {
  overflow: hidden !important;
  -ms-scroll-chaining: none !important;
  overscroll-behavior: none !important;
}

#tetMenuButton {
  z-index: 10;
  width: 8vw;
  height: auto;
  position: fixed;
  top: 65%;
  left: 0px;

  &.tetTD {
    left: 90% !important;
    top: 0% !important;
  }

  > svg {
    position: relative;
    height: 1.25em;
    fill: currentcolor;
    margin-right: 12px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    right: 35% !important;
  }
}

.tetBtn {
  list-style: none;
  text-align: inherit;
  text-decoration: none;
  border-radius: 15px;
  justify-content: center;
  text-align: center;
  display: flex !important;
  font-family: inherit !important;
  font-size: 20px !important;
  font-weight: bold !important;
  padding: 0px !important;
  outline: none !important;

  &.mini {
    border: transparent !important;
    background: transparent !important;
  }
}

.tetBtn,
#tet,
.tet {
  cursor: pointer !important;
}

.tet.tet-td {
  display: inherit;
  font-size: inherit !important;
  font-weight: inherit !important;
  line-height: inherit !important;
  padding-bottom: 4px !important;
}

#tet {
  justify-items: center;
}

#apifield {
  width: initial;
}

#apifield,
#tetName,
#tetSelector > select {
  padding-left: 2% !important;
}

#apifield,
#tetSelector {
  align-items: stretch;
  display: grid;
  border-style: solid;
  border-radius: 4px;
  border-width: 1px;
}

#apifield,
.tet-main #tetSelector,
section.tetcheckbox {
  margin: 2% 6% 0px 6%;
}

#tetSelector > select {
  text-align: left;
  padding-top: 12px;
  padding-right: 0px;
  padding-bottom: 0px;
  cursor: pointer;
  border-radius: 0px;
  margin: 0px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

#tetReset {
  margin: 2% 25% 0px 25%;
}

.r-demo {
  margin: 0px 32px 0px 32px !important;
  padding: 12px 0px 12px 0px !important;
  overflow: hidden;
  flex-direction: row !important;

  .tet-av {
    position: relative;
    margin: 2px 12px 0px 12px !important;
    flex-basis: 48px;
    height: 48px;
    overflow: hidden;
    display: block;
    z-index: 0;
  }

  .tet-txt {
    flex-basis: 0px;
    flex-grow: 1;
    justify-content: center;

    .txt-header {
      display: flex;
      margin-bottom: 2px;
      // align-items: start;
      justify-content: space-between;
      flex-direction: row;
      flex-shrink: 1;

      .tet-at {
        display: flex;
        min-width: 0px;
        max-width: inherit !important;
        white-space: normal !important;

        > span:last-child {
          margin-left: 4px;
        }
      }
    }
  }
}

#tetDemo {
  margin: 4px 0px 0px 0px;
  font-size: 13px;
  flex-wrap: wrap;
  min-width: 0px;
  display: flex !important;
}

.btNav {
  -webkit-user-select: none !important;
  -moz-user-select: none !important;
  -ms-user-select: none !important;
  user-select: none !important;
  a,
  :link {
    text-decoration: none !important;

    &:hover {
      text-decoration: none !important;
    }
  }
  justify-content: center !important;
  flex-direction: row !important;
  top: 0px !important;
}

.btNav,
.navbackground {
  position: fixed !important;
  width: 100vw;
  height: 100vh;
}

.navbackground {
  top: 0;
  left: 0;

  &.warn {
    z-index: 10 !important;
  }
}

.tet-icon-container,
.tetadvanced-icon-container {
  cursor: pointer;
  display: inline-flex;
  position: absolute;
  bottom: 10px;
  border-radius: 9999px;
  z-index: 1;
}

.tet-icon-container {
  height: 35px;
  right: 25px;

  .tet-icon-info {
    color: $twWhite;
    display: inline;
    width: 35px;
    height: 35px;
    line-height: 35px;
    border-radius: inherit;
    font-family: 'fontello';
    font-size: 23px;

    &:hover {
      color: unset !important;
    }
  }

  .tet-help-container {
    position: static;
    border-style: solid;
    border-width: 2px;
    border-radius: inherit;
    line-height: 35px;
    font-size: 16px;
    font-weight: normal;
    text-decoration: none;
    margin-left: 10px;

    a {
      display: inline-block;
      margin-left: 10px;
      margin-right: 10px;
    }
  }
}

.tetadvanced-icon-container {
  left: 10px;
  width: 28px;
  height: 28px;

  .tetadvanced-icon {
    height: 1.75rem;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    position: relative;
    fill: currentcolor;
    border-radius: inherit;
    display: inline-block;
  }
}

.mini {
  min-height: 3% !important;
  overflow: hidden;
  background: transparent;
  border-color: transparent;
}

.r-hover {
  -webkit-text-decoration-line: underline !important;
  text-decoration-line: underline !important;
}

#tweet-text {
  font-size: 23px !important;
  line-height: 28px !important;
}

.tet-help-info {
  color: unset;
}

#tetNI {
  margin: 0px 10% 0px 10%;
}

div.css-18t94o4.r-6koalj.r-1w6e6rj.r-37j5jr.r-n6v787.r-16dba41.r-1cwl3u0.r-14gqq1x.r-bcqeeo.r-qvutc0 {
  width: -webkit-fit-content !important;
  width: -moz-fit-content !important;
  width: fit-content !important;
}

.prf-header > div > .tet {
  display: inline-block !important;
  width: 100% !important;
}

select.tetTextColor {
  height: auto !important;
}
.tet-favicon {
  width: 1em;
  height: 1em;
  padding-left: 0.2rem;
}

[id="tet-ltg"],
[id="tet-ltgl"],
[id="tet-ltglg"] {
  font-style: normal;
  font-family: inherit;
}

[id="tet-ltg"],
[id="tet-ltglg"] {
  font-weight: normal;
}

[id="tet-ltg"] {
  font-size: 10.5833px;
  line-height: 1.25;
  letter-spacing: 0px;
  word-spacing: 0px;
  white-space: pre;
  fill-opacity: 1;
  stroke: none;
}

[id="tet-ltgl"] {
  font-variant: normal;
  font-weight: bold;
  font-stretch: normal;
}

[id="tet-ltglg"] {
  font-size: 43.3964px;
  line-height: 1.25;
  letter-spacing: 0px;
  word-spacing: 0px;
  fill-opacity: 1;
  stroke: none;
  stroke-width: 1.08492;
}
[id="tet-ltglgp"] {
  stroke-width: 1.08492;
}
